header {
    background-image: url(images/MXFullGraphicHero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    height: 750px;
    margin: 0px 0 40px 0;
}

.imgSize {
    max-height: 300px;
    max-width: 300px;
}

@media screen and (max-width: 1240px) {
    
    .imgSize {
        max-height: 200px;
        max-width: 200px;
    }
    
}

@media screen and (max-width: 756px) {
    
    .imgSize {
        max-height: 300px;
        max-width: 300px;
    }
    
}

/*========================================================================================*/
/*                                       Top Navigation                                   */
/*========================================================================================*/

.topNav {
    background-color: #eee;
    height: 40px;
    width: 100%;
}

.topNav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topNav ul li {
    display: inline-block;
    float: right;
    font-size: 12px;
    margin: 0;
    padding: 12px 0 0 0;
}

.topNav ul li a {
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-right: 30px;
    text-decoration: none;
}

.topNav ul li a img {
    margin-top: -8px;
    height: 27px;
    width: 19px;
}

/*========================================================================================*/
/*                                     ~~Top Navigation~~                                 */
/*========================================================================================*/

/*========================================================================================*/
/*                                      Main Navigation                                   */
/*========================================================================================*/

.mgkNav {
    background-color: rgba(255,255,255,0.5);
    height: 70px;
    margin: 0;
    /*position: absolute;
        top: 40px;*/
    padding: 0;
    width: 100%;
}

.mgkNav ul {
    display: block;
    list-style: none;
    margin: 0px;
    padding-left: 5px;
    position: absolute;
        left: 50%;
    transform: translateX(-50%);
}

.mgkNav ul li {
    display: inline-block;
    margin-top: 20px;
}

.mgkNav .logo {
    color: #FFF;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 200;
    height: 53px;
    margin-right: 5%;
    padding-top: 10px;
    text-decoration: none;
    width: 185px;
}

.mgkNav .logo img {
    height: auto;
    width: 100%;
}

/*
.mgkNav .navCollapse {
    display: inline-block;
    float: left;
}
*/

.mgkNav .navToggle {
    display: none;
    border: none;
    background-color: #FFF;
}

.mgkNav ul li a {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 200;
    margin-right: 30px;
    padding: 5px 10px;
    text-align: left;
    text-decoration: none;
    width: 100%;
}

/*========================================================================================*/
/*                                    ~~Main Navigation~~                                 */
/*========================================================================================*/

.hoverColor {
    color: #FFF;
    background-color: #333;
}

/*========================================================================================*/
/*                                      Hidden Navigation                                 */
/*========================================================================================*/

.navCollapse {
    display: none;
    visibility: hidden;
}

.drop-MX-hide, 
.drop-BK-hide {
	background-color: #FFF;
    border-radius: 0 0 3px 0;
	box-shadow: 6px 8px 16px -8px rgba(0, 0, 0, 0.9);
    font-family: 'Roboto', sans-serif;
    height: 0px;
	margin: 0px;
    overflow: hidden;
    padding: 0 5px;
    position: absolute;
        top: 50px;
        left: -160px;
    -webkit-transition: height 0.1s;
    transition: height 0.1s;
    width: 450px;
	z-index: 2;
    visibility: visible;
}

.drop-HT-hide, 
.drop-UTV-hide {
	background-color: #FFF;
    border-radius: 0 0 3px 0;
	box-shadow: 6px 8px 16px -8px rgba(0, 0, 0, 0.9);
    font-family: 'Roboto', sans-serif;
    height: 0px;
	margin: 0px;
    overflow: hidden;
    padding: 0 5px;
    position: absolute;
        top: 50px;
    -webkit-transition: height 0.1s;
    transition: height 0.1s;
    width: 220px;
	z-index: 2;
    visibility: visible;
}

.drop-MX-hide>ul:first-of-type,
.drop-BK-hide>ul:first-of-type {
    position: absolute;
    top: 3px;
    left: 100px;
    width: 200px;
}

.drop-MX-hide>ul:last-of-type,
.drop-BK-hide>ul:last-of-type {
    border-left: solid 1px rgb(90, 90, 90);
    top: 3px;
    left: 315px;
    width: 230px;
}

.drop-HT-hide ul,
.drop-BK-hide ul,
.drop-UTV-hide ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: inherit;
}

.drop-MX-hide ul li, .drop-HT-hide ul li, .drop-BK-hide ul li, .drop-UTV-hide ul li {
    margin: 0;
    padding: 2px;
    width: inherit;
}

.drop-MX-hide ul li:first-child, .drop-HT-hide ul li:first-child, .drop-BK-hide ul li:first-child, .drop-UTV-hide ul li:first-child {
    padding-top: 5px;
}

.drop-MX-hide ul li a, .drop-HT-hide ul li a, .drop-BK-hide ul li a, .drop-UTV-hide ul li a {
	background-color: #FFF;
	color: #000;
	display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
	padding: 4px 0 4px 5px;
	text-decoration: none;
    width: inherit;
}

/*--------------------------- OtherProducts Hide ---------------------------*/

.drop-OT-hide {
	background-color: #FFF;
    border-radius: 0 0 3px 3px;
	box-shadow: 6px 8px 16px -8px rgba(0, 0, 0, 0.9);
    font-family: 'Roboto', sans-serif;
    height: 0px;
	margin: 0px;
    overflow: hidden;
    padding: 0 5px;
    position: absolute;
        top: 50px;
    -webkit-transition: height 0.7s;
    transition: height 0.7s;
    width: 220px;
	z-index: 2;
    visibility: visible;
}

.drop-OT-hide ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: inherit;
}

.drop-OT-hide ul li {
    margin: 0;
    padding: 2px;
    width: inherit;
}

.drop-OT-hide ul li:first-child {
    padding-top: 5px;
}

.drop-OT-hide ul li a {
	background-color: #FFF;
	color: #000;
	display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
	padding: 4px 0 4px 5px;
	text-decoration: none;
    width: inherit;
}

/*========================================================================================*/
/*                                    ~~Hidden Navigation~~                               */
/*========================================================================================*/

/*========================================================================================*/
/*                                     Visible Navigation                                 */
/*========================================================================================*/

.dropdown {
	display: inline-block;
	position: relative;
}

.drop-MX-show, 
.drop-BK-show {
	background-color: #FFF;
    border-radius: 0 0 3px 3px;
	box-shadow: 6px 8px 16px -8px rgba(0, 0, 0, 0.9);
    font-family: 'Roboto', sans-serif;
    height: 165px;
	margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
        top: 50px;
        left: -160px;
    -webkit-transition: height 0.7s;
    transition: height 0.7s;
    width: 440px;
	z-index: 2;
    visibility: visible;
}

.drop-HT-show, 
.drop-UTV-show {
	background-color: #FFF;
    border-radius: 0 0 3px 3px;
	box-shadow: 6px 8px 16px -8px rgba(0, 0, 0, 0.9);
    font-family: 'Roboto', sans-serif;
    height: 320px;
	margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
        top: 50px;
    -webkit-transition: height 0.7s;
    transition: height 0.7s;
    width: 220px;
	z-index: 2;
    visibility: visible;
}

.drop-MX-show>ul:first-of-type,
.drop-BK-show>ul:first-of-type {
    position: absolute;
    top: 3px;
    left: 95px;
    width: 200px;
}

.drop-MX-show>ul:last-of-type,
.drop-BK-show>ul:last-of-type {
    border-left: solid 1px rgb(90, 90, 90);
    top: 3px;
    left: 320px;
    width: 230px;
}

.drop-HT-show {
    height: 160px;
}

.drop-UTV-show {
    height: 120px;
}

.drop-HT-show ul, 
.drop-UTV-show ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    width: inherit;
}

.drop-MX-show ul li, .drop-HT-show ul li, .drop-BK-show ul li, .drop-UTV-show ul li {
    margin: 0;
    padding: 2px;
    width: inherit;
}

.drop-MX-show ul li a, .drop-HT-show ul li a, .drop-BK-show ul li a, .drop-UTV-show ul li a {
	background-color: #FFF;
	color: #000;
	display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
	padding: 4px 0 4px 5px;
	text-decoration: none; 
}

.drop-MX-show ul li a:hover, .drop-HT-show ul li a:hover, .drop-BK-show ul li a:hover, .drop-UTV-show ul li a:hover {
	background-color: #EEE;
	color: #000;
}

.drop-MX-show ul li:first-child, .drop-HT-show ul li:first-child, .drop-BK-show ul li:first-child, .drop-UTV-show ul li:first-child {
    padding-top: 5px;
}

/*--------------------------- OtherProducts Show ---------------------------*/

.drop-OT-show {
	background-color: #FFF;
    border-radius: 0 0 3px 3px;
	box-shadow: 6px 8px 16px -8px rgba(0, 0, 0, 0.9);
    font-family: 'Roboto', sans-serif;
    height: 160px;
	margin: 0px;
    overflow: hidden;
    padding: 0 5px 0;
    position: absolute;
        top: 50px;
    -webkit-transition: height 0.7s;
    transition: height 0.7s;
    width: 220px;
	z-index: 1;
    visibility: visible;
}

.drop-OT-show ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: inherit;
}

.drop-OT-show ul li {
    margin: 0;
    padding: 2px;
    width: inherit;
}

.drop-OT-show ul li a {
	background-color: #FFF;
	color: #000;
	display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
	padding: 4px 0 4px 5px;
	text-decoration: none;
    width: inherit;
}

.drop-OT-show ul li a:hover {
	background-color: #EEE;
	color: #000;
}

.drop-OT-show ul li:first-child {
    padding-top: 5px;
}

/*========================================================================================*/
/*                                   ~~Visible Navigation~~                               */
/*========================================================================================*/


/*========================================================================================*/
/*                                       Store Navigation                                 */
/*========================================================================================*/

.magik_store_nav {
    position: fixed;
    width: 300px;
}

.center_wrapper {
    margin-left: 300px;
}

/*========================================================================================*/
/*                                     ~~Store Navigation~~                               */
/*========================================================================================*/

/*========================================================================================*/
/*                                     Mobile Navigation                                  */
/*========================================================================================*/

@media screen and (max-width: 756px) {
    .mgkNav {
        top: 0;
    }
    
    .mgkNav .logo {
        position: absolute;
    }
    
    .topNav {
        display: none;
    }
    
    header {
        background-image: url(images/MXFullGraphicHero.jpg);
        background-position: top left;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100%;
        height: 50px;
        margin: 0;
    }
    
    #header {
        height: 275px;
    }
    
    .mgkNav .navToggle {
        background-color: rgba(0,0,0,0);
        background-image: url(images/naviconWhite.png);
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
        float: right;
        height: 50px;
        margin-top: 10px;
        margin-right: 5px;
        width: 40px;
    }
    
    .navCollapse {
        background-color: #eee;
        clear: left;
        color: #000;
        display: block;
        margin: 0px;
        height: 0px;
        overflow: hidden;
        position: absolute;
            top: 71px;
            left: 0px;
        -webkit-transition: height 1s;
        transition: height 1s;
        width: 100%;
        visibility: visible;
        z-index: 1;
    }
    
    .mgkNav .Collapsed {
        display: none;
    }
    
    .navCollapse ul {
        list-style: none;
        margin: 0;
    }
    
    .navCollapse ul li {
        display: block;
        margin: 0;
        padding-top: 7px;
    }
    
    .navCollapse ul li a {
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 200;
        margin-right: 30px;
        padding: 5px 10px;
        text-align: left;
        text-decoration: none;
    }
    
    .navCollapse ul li a img {
        margin-top: -8px;
    }
    
    .navCollapse #navColMain, .navCollapse #navCol2nd, .navCollapse #navColFt {
        margin: 0 0 10px 0;
    }
    
    .navCollapse h5 {
        padding-left: 8px;
    }
    
    .navCollapse h5 {
        padding-top: 8px;
    }
    
    .navCollapse h5:last-child {
        font-size: 12px;
        margin-top: 8px;
        padding-top: 8px;
        text-align: center;
    }
    
    .drop-content-show {
        top: 71px;
        height: 650px;
        overflow-y: scroll;
        width: 100%;
    }
    
    .drop-content-hide {
        top: 71px;
        -webkit-transition: height 0.4s;
        transition: height 0.4s;
        width: 100%;
    }
    
    header {
        background-color: #FFF;
        height: 320px;
        margin: 0 0 10px 0;
    }
    
    .heroImg {
        visibility: visible;
    }
    
    #products {
        margin-top: 0px;
    }
}

/*========================================================================================*/
/*                                   ~~Mobile Navigation~~                                */
/*========================================================================================*/

/*========================================================================================*/
/*                                       Product Boxes                                    */
/*========================================================================================*/

.bigBoxProd {
    height: 351px;
    background-image: url(images/2014%20YZ450%20OFR%204%20.jpeg);
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    box-shadow: none;
    transition: background-size 0.6s ease;
    margin: 5px; 
    padding: 0px;
}

.bigBoxProd:hover {
    background-size: 81%;
    transition: background-size 0.6s, color 1s ease;
    color: #333;
}

.bigBoxProd p {
    color: #666;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
    padding: 0 0 0 8px;
    position: relative;
        top: 300px;
    transition: color 1s;
    text-transform: uppercase;
}

.bigBoxProd:hover p {
    color: #333;
    padding: 0 0 0 8px;
    transition: color 1s;
}

/*
.bigBoxProd div, .smBox1 div, .smBox2 div {
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0);
    transition: background-color 1s;
    height: 100%;
}

.bigBoxProd:hover div, .smBox1:hover div, .smBox2:hover div{
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
    transition: background-color 1s;
    height: 100%;
}
*/

.smBox1, .smBox2 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    box-shadow: none;
    font-family: 'Roboto', sans-serif;
    height: 174px;
    margin: 5px;
    padding: 0px;
    transition: background-size 0.6s ease;
    text-transform: uppercase;
}

.smBox1:hover, .smBox2:hover {
    background-size: 71%;
    transition: background-size 0.6s ease;
}

.smBox1 p, .smBox2 p {
    color: #666;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
    padding: 0 0 0 8px;
    position: relative;
        top: 130px;
    transition: color 1s;
    text-transform: uppercase;
    text-decoration: none;
}

.smBox1:hover p, .smBox2:hover p, .xsBox:hover p {
    color: #111;
    padding: 0 0 0 8px;
    transition: color 1s;
}

.smBox1 {
    background-image: url(images/helmet%20web%20home%202018.jpeg);
}

.smBox2 {
    background-image: url(images/OffRoad_550x550.jpg);
}

.xsBox {
    background-image: url(images/bike_fork_home_soon.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    height: 351px;
    box-shadow: none;
    /*transition: background-size 0.6s ease-out;*/
    margin: 5px; 
    padding: 0px;
}

.xsBox:hover {
    /*background-size: 91%;
    transition: background-size 0.6s;*/
    color: #333;
}

.xsBox p {
    color: #666;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
    padding: 0 0 0 8px;
    position: relative;
        top: 200px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 1s;
}

#products a {
    text-decoration: none;
}

/*#wrapper_products {
    height: auto;
    width: 100%;
}*/

/*#wrapper_products>.magikProducts {
    width: 33%;
}*/

.buttonRow>#submit1, .buttonRow>#submit2 {
    background-color: #000;
    border: solid 1px #000;
    border-radius: 4px;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-weight: 300;
    margin: 12px 0px;
    padding: 10px 12px;
    text-align: center;
    transition: 0.2s;
    width: 115px;
}

.buttonRow>#submit1:hover, .buttonRow>#submit2:hover {
    background-color: #FFF;
    color: #000;
    transition: 0.2s;
}

.prodSort {
    margin: 12px 0;
}

.prodSort>.productListing-heading {
    border: solid 1px #333;
    border-radius: 3px;
    color: #333;
    display: inline-block;
    font-weight: 300;
    margin: 12px 4px 12px 0px;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    width: 115px;
}

.prodSort>.productListing-heading:hover {
    background-color: #333;
    color: #FFF;
}

.magikProducts {
    border: none;
}

.magikProdText {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: bold;
    padding: 4px;
}

.magikProdText>.listingDescription {
    color: #999;
    font-style: normal;
    font-weight: 300;
    text-align: justify;
}

.magikProdText>h3 {
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    margin: 6px 0;
    padding: 6px 0;
}

.magikProdText>h3>a {
    color: #333;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-decoration: none;
    transition: 0.4s;
}

.magikProdText>h3>a:hover {
    color: #999;
    transition: 0.4s;
}

.magikProdText>input {
    border: solid 1px #eee;
    border-radius: 4px;
    outline: none;
    padding: 0 0 0 6px;
    width: 40px;
}

.magikProducts>a>img {
    opacity: 1;
    transition: 0.4s;
}

a>img:hover {
    opacity: 0.7;
    transition: 0.4s;
}

/*========================================================================================*/
/*                                     ~~Product Boxes~~                                  */
/*========================================================================================*/

/*========================================================================================*/
/*                                    Product Boxes Mobile                                */
/*========================================================================================*/

@media screen and (max-width: 756px) {
    .bigBoxProd {
        height: 351px; 
        border: none;
        border-bottom: solid 1px #eee;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 5px;
    }
    
    .bigBoxProd p {
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 300;
        position: relative;
            top: 300px;
        text-transform: uppercase;
    }
    
    .smBox1, .smBox2 {
        height: 174px;
        border: none;
        border-bottom: solid 1px #eee;
        font-family: 'Roboto', sans-serif;
        margin: 5px;
        padding: 0px;
        text-transform: uppercase;
    }
    
    .smBox1 p, .smBox2 p {
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 300;
        position: relative;
            top: 145px;
        transition: color 1s;
        text-transform: uppercase;
    }
    
    .xsBox p {
        text-align: left;
    }
    
    .bigBoxProd:hover {
        background-position: center;
    }
    
    .smBox1:hover, .smBox2:hover {
        background-position: center;
    }
    
    .xsBox:hover {
        background-position: center;
    }
}

/*========================================================================================*/
/*                                  ~~Product Boxes Mobile~~                              */
/*========================================================================================*/


/*========================================================================================*/
/*                                     Footer Navigation                                  */
/*========================================================================================*/

.mgkFooter {
    background-color: #eee;
    border: solid 1px #eee;
    margin-top: 0px;
    padding: 40px 0;
}

.mgkFtNav {
    font-family: 'Roboto', sans-serif;
}

.mgkFtNav:nth-child(1), .mgkFtNav:nth-child(2), .mgkFtNav:nth-child(3), .mgkFtNav:nth-child(4)  {
    border-right: solid 1px #999;
}

#test {
    display: none;
    width: 100%;
}

#attribsOptionsText {
    cursor: pointer;
}

.mgkFtNav h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 3px 0;
    text-align: center;
}

.mgkFtNav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mgkFtNav ul li {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    margin: 0 0 5px 0;
    padding: 2px 0;
    text-align: center;
}

.mgkFtNav ul li a {
    color: #333;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.mgkFtNav ul li a:hover {
    color: #999;
    border-bottom: solid 0.5px #fff;
}

/*========================================================================================*/
/*                                   ~~Footer Navigation~~                                */
/*========================================================================================*/


/*========================================================================================*/
/*                                 Footer Tablet Navigation                               */
/*========================================================================================*/

@media screen and (max-width: 1240px) {
    
    .mgkFtNav:nth-child(1), .mgkFtNav:nth-child(2), .mgkFtNav:nth-child(3), .mgkFtNav:nth-child(4)  {
        border-right: solid 1px #eee;
    }
    
}

@media screen and (max-width: 756px) {
    
    .mgkFtNav {
        padding-bottom: 30px;
    }
    
}


/*========================================================================================*/
/*                               ~~Footer Tablet Navigation~~                             */
/*========================================================================================*/
